.footer {
  position: relative;
  z-index: 1;
  display: none;

  @media (max-width: 620px) {
    display: block;
  }
  // .footer__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 41px;
  }

  .socials {
    // .socials__link
  
    &__link {
      margin-right: 17px;
      width: 17px;
      height: 17px;
    }
  }
}

