.hero {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  // .hero__image

  &__image {
    max-width: 1390px;
    position: absolute;
    left: -115px;
    top: -155px;
    pointer-events: none;
    img {
      max-width: 100%;
    }
  }

  // .hero__wrapper

  &__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  // .hero__text

  &__text {
    margin: -200px -60px 20px 0;
  }

  // .hero__btn

  &__btn {
    margin-bottom: 14px;
    &_md {
      display: none;
    }
    @media (max-width: 1024px) {
      display: none;
      &_md {
        display: flex;
      }
    }
  }

  // .hero__info

  &__info {
    cursor: pointer;
    margin-left: -80px;
    position: relative;
    font-size: 23px;
    line-height: 28px;
    font-style: italic;
    padding-left: 35px;
    color: #fff;
    svg {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 4px;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 2px;
      right: 0;
      width: 88%;
      height: 1px;
      background-color: #fff;
    }
  }
}
.text-hero {
  font-family: "Panton-Black", sans-serif;
  font-style: italic;
  letter-spacing: -3px;
  color: #fff;
  max-width: 550px;
  width: 100%;
  // .text-hero__title

  &__title {
    font-size: 78px;
    line-height: 62px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

    // .text-hero__label

    &__label {
      font-size: 48px;
      line-height: 51px;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

  // .text-hero__subtitle

  &__subtitle {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    line-height: 84.5%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #42EF25;
    background-image: linear-gradient(98.21deg, #42EF25 17.36%, #FFFFFF 128.48%);
    background-size: 100%;
    span {
      display: block;
      padding-left: 144px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(6, 6, 6, 0.3);
  backdrop-filter: blur(9px);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.modal-info {
  transition: all .3s ease;
  bottom: 0;
  background-color: #fff;
  width: 900px;
  height: 65%;
  z-index: 11;
  position: relative;

  @media (max-width: 1024px) {
    width: 702px;
    height: 80%;
    margin: 0 33px;
  }
  @media (max-width: 767px) {
    margin: 0 15px;
    height: 90%;
  }
		// .modal-info__wrapper

		&__wrapper {
      overflow: hidden;
      height: 98%;
      padding: 31px 0 6px;
		}

		// .modal-info__close

		&__close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;
      img {
        max-width: 100%;
        display: block;
      }
      @media (max-width: 640px) {
        width: 20px;
        height: 22px;
        top: -10px;
        right: -10px;
      }
		}

		// .modal-info__content

		&__content {
      overflow-y: auto;
      height: 100%;
      padding: 20px 30px 30px 55px;
      margin-right: 25px;
      scrollbar-width: thin;
      scrollbar-color: #129A48 #C4C4C4;
      &::-webkit-scrollbar {
        background-color: #C4C4C4;
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #129A48;
      }
      @media (max-width: 767px) {
        margin-right: 11px;
        padding: 0 25px 20px 22px;
      }
		}

		// .modal-info__title

		&__title {
      font-size: 18px;
      line-height: 21px;
      font-family: "SFProDisplay-Semibold", sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
		}

		// .modal-info__list

		&__list {
      font-size: 14px;
      line-height: 16px;
      &_1 {
        font-family: "SFProDisplay-Semibold", sans-serif;
        margin-bottom: 20px;
      }
      &_2 {
        font-family: "SFProDisplay-Regular", sans-serif;
      }
    }

		// .modal-info__list-item

		&__list-item {
      margin-bottom: 20px;
      span {
        font-family: "SFProDisplay-Semibold", sans-serif;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    // .modal-info__list-link

		&__list-link {
      color: #0A9F30;
      display: inline-block;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #0A9F30;
        bottom: -2px;
        left: 0;
      }
      &_md {
        display: none;
      }
      @media (max-width: 1024px) {
        display: none;
        &_md {
          display: inline-block;
        }
        &_mail {
          display: inline-block;
        }
      }
    }    

		// .modal-info__max

		&__max {
      font-size: 14px;
      line-height: 16px;
      margin: 20px 0;
      font-family: "SFProDisplay-Light", sans-serif;
    }
    
    		// .modal-info__law

		&__law {
      font-size: 13.21px;
      font-style: italic;
      font-family: "SFProDisplay-Light", sans-serif;
		}

		// .modal-info__btn

		&__btn {
      margin: 55px auto 0;
			// .modal-info__btn_md

			&_md {
        display: none;
      }
      @media (max-width: 1024px) {
        display: none;
        &_md {
          display: flex;
        }
      }
		}
}