@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Panton-Black";
  font-display: swap;
  src: url("../fonts/Panton-Black.woff") format("woff"), url("../fonts/Panton-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  font-family: "Montserrat-Regular", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

.btn {
  font-family: "Montserrat-ExtraBold", sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #fff;
  background: -o-linear-gradient(188.47deg, #6A0000 -6.16%, rgba(255, 255, 255, 0) 86.16%), #FF0000;
  background: linear-gradient(261.53deg, #6A0000 -6.16%, rgba(255, 255, 255, 0) 86.16%), #FF0000;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 60, 60, 0.7);
          box-shadow: 0px 0px 20px rgba(255, 60, 60, 0.7);
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_red {
  font-size: 23px;
  line-height: 28px;
  max-width: 345px;
  width: 100%;
  height: 61px;
}

.btn_modal {
  font-size: 18px;
  line-height: 22px;
  max-width: 220px;
  width: 100%;
  height: 40px;
}

.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 87px;
  -webkit-animation: header 1.5s ease-out forwards;
          animation: header 1.5s ease-out forwards;
}

@-webkit-keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  80% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  80% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header__logo {
  max-width: 238px;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__logo_md {
  display: none;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.socials__link:last-child {
  margin-right: 0;
}

.socials__link img {
  max-width: 100%;
  display: block;
}

.hero {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.hero .container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__image {
  max-width: 1390px;
  position: absolute;
  left: 0px;
  top: -100px;
  pointer-events: none;
  -webkit-animation: runner 1.5s ease-out forwards;
          animation: runner 1.5s ease-out forwards;
}

.hero__image img {
  max-width: 100%;
}

@-webkit-keyframes runner {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes runner {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.hero__text {
  margin: -200px -28% 20px 0;
}

.hero__btn {
  margin: 0 -8% 14px 0;
  -webkit-animation: heroBtn 2.9s ease-out forwards;
          animation: heroBtn 2.9s ease-out forwards;
}

.hero__btn_md {
  display: none;
}

@-webkit-keyframes heroBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  100% {
    -webkit-transform: translateX(0) skew(-10deg);
            transform: translateX(0) skew(-10deg);
  }
}

@keyframes heroBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  100% {
    -webkit-transform: translateX(0) skew(-10deg);
            transform: translateX(0) skew(-10deg);
  }
}

.hero__info {
  cursor: pointer;
  position: relative;
  font-size: 23px;
  line-height: 28px;
  font-style: italic;
  padding-left: 35px;
  color: #fff;
  -webkit-animation: heroInfo 2.9s ease-out forwards;
          animation: heroInfo 2.9s ease-out forwards;
}

.hero__info svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 4px;
}

.hero__info::before {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 88%;
  height: 1px;
  background-color: #fff;
}

@-webkit-keyframes heroInfo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  100% {
    -webkit-transform: translateX(0) skew(-10deg);
            transform: translateX(0) skew(-10deg);
  }
}

@keyframes heroInfo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px) skew(-10deg);
            transform: translateX(-300px) skew(-10deg);
  }

  100% {
    -webkit-transform: translateX(0) skew(-10deg);
            transform: translateX(0) skew(-10deg);
  }
}

.text-hero {
  font-family: "Panton-Black", sans-serif;
  font-style: italic;
  letter-spacing: -3px;
  color: #fff;
  max-width: 550px;
  width: 100%;
}

.text-hero__title {
  font-size: 78px;
  line-height: 62px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: textTitle 1.5s ease-out forwards;
          animation: textTitle 1.5s ease-out forwards;
}

@-webkit-keyframes textTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }

  80% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes textTitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }

  80% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.text-hero__label {
  font-size: 48px;
  line-height: 51px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: textLabel 2.1s ease-out forwards;
          animation: textLabel 2.1s ease-out forwards;
}

@-webkit-keyframes textLabel {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes textLabel {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.text-hero__subtitle {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 48px;
  line-height: 84.5%;
  -webkit-background-clip: text;
          background-clip: text;
  color: #42EF25;
  background-image: -o-linear-gradient(351.79deg, #42EF25 17.36%, #FFFFFF 128.48%);
  background-image: linear-gradient(98.21deg, #42EF25 17.36%, #FFFFFF 128.48%);
  background-size: 100%;
  -webkit-animation: textSubtitle 2.4s ease-out forwards;
          animation: textSubtitle 2.4s ease-out forwards;
}

.text-hero__subtitle span {
  display: block;
  padding-left: 145px;
  -webkit-animation: textSubtitleSpan 2.6s ease-out forwards;
          animation: textSubtitleSpan 2.6s ease-out forwards;
}

@-webkit-keyframes textSubtitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes textSubtitle {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes textSubtitleSpan {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes textSubtitleSpan {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.modal {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: rgba(6, 6, 6, 0.3);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-info {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  bottom: 0;
  background-color: #fff;
  width: 1000px;
  height: 65%;
  z-index: 11;
  position: relative;
}

.modal-info__wrapper {
  overflow: hidden;
  height: 98%;
  padding: 31px 0 6px;
}

.modal-info__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.modal-info__close img {
  max-width: 100%;
  display: block;
}

.modal-info__content {
  overflow-y: auto;
  height: 100%;
  padding: 20px 52px 32px 52px;
  scrollbar-width: none;
  scrollbar-color: transparent;
}

.modal-info__content::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

.modal-info__content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.modal-info__title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.05em;
  color: #000;
  font-family: "Montserrat-Medium", sans-serif;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-info__title span {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 170px;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
  font-size: 96px;
  line-height: 20px;
}

.modal-info__title p {
  margin: 0 0 20px 0;
}

.modal-info__title p:last-child {
  margin: 0 0 30px 0;
}

.modal-info__btn {
  margin: 37px auto 0;
}

.modal-info__btn_md {
  display: none;
}

.info-step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-step:last-child {
  margin-bottom: 0;
}

.info-step__num {
  max-width: 400px;
  margin-right: 10px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.05em;
  font-family: "Montserrat-Medium", sans-serif;
}

.info-step__num > span {
  font-size: 64px;
  line-height: 20px;
  color: #0A9F30;
  font-family: "Montserrat-Black", sans-serif;
  margin-right: 30px;
}

.info-step__num_1 > span {
  padding-left: 5px;
}

.info-step__img {
  max-width: 50%;
  width: 100%;
}

.info-step__img img {
  max-width: 100%;
  display: block;
}

.info-step__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.info-step__text > span {
  margin: 25px 0 5px;
}

.info-step__text p {
  font-family: "Montserrat-Bold", sans-serif;
  margin: 0 0 25px 0;
}

.info-step__text p:last-child {
  margin: 0;
}

.info-step__box {
  border: 1px solid #0A9F30;
  font-size: 12px;
  line-height: 15px;
  color: #0A9F30;
  padding: 14px 20px;
  margin: 20px 0 10px 0;
}

.info-step__box:last-child {
  margin: 0;
}

.info-step__box p {
  margin: 0 0 14px 0;
}

.info-step__box p:last-child {
  margin: 0;
}

.footer {
  position: relative;
  z-index: 1;
  display: none;
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 41px;
}

.footer .socials__link {
  margin-right: 17px;
  width: 17px;
  height: 17px;
}

@media (max-width: 1860px) {
  .hero__image {
    max-width: 1000px;
    top: 0;
  }
}

@media (max-width: 1580px) {
  .hero__image {
    max-width: 850px;
  }
}

@media (max-width: 1439px) {
  .hero__image {
    max-width: 700px;
  }
}

@media (max-width: 1280px) {
  .hero__text {
    margin: -100px -28% 20px 0;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    display: none;
  }

  .header__logo_md {
    display: block;
  }

  .hero__image {
    max-width: 570px;
  }

  .hero__btn {
    display: none;
  }

  .hero__btn_md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .modal-info {
    width: 702px;
    height: 80%;
    margin: 0 33px;
  }

  .modal-info__content {
    padding: 20px 32px 32px 32px;
  }

  .modal-info__btn {
    display: none;
  }

  .modal-info__btn_md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .info-step__num {
    font-size: 16px;
    line-height: 18px;
  }

  .info-step__num > span {
    font-size: 48px;
    line-height: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .hero__image {
    max-width: 1200px;
    left: -40%;
    top: -10%;
  }

  .hero__text {
    margin: 0 -5% 20px 0;
  }

  .hero__btn {
    margin: 0 0 14px 0;
  }
}

@media (max-width: 767px) {
  .modal-info {
    margin: 0 15px;
    height: 90%;
  }

  .modal-info__content {
    padding: 20px 16px 20px 16px;
  }
}

@media (max-width: 640px) {
  .modal-info__close {
    width: 20px;
    height: 22px;
    top: -10px;
    right: -10px;
  }
}

@media (max-width: 639px) {
  .modal-info__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .modal-info__title span {
    font-size: 72px;
    line-height: 20px;
  }

  .modal-info__title p {
    margin: 0 0 20px 0;
  }

  .modal-info__title p:last-child {
    margin: 0 0 15px 0;
  }

  .info-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-step__num {
    margin: 0 0 20px 0;
  }

  .info-step__img {
    max-width: 100%;
  }

  .info-step__img img {
    margin: 0 auto;
  }

  .info-step__text > span {
    margin: 10px 0 5px;
  }

  .info-step__text p {
    margin: 0 0 15px 0;
  }

  .info-step__box {
    margin-left: -60px;
  }

  .info-step__box:last-child {
    margin: 0 0 0 -60px;
  }
}

@media (max-width: 620px) {
  .btn_red {
    font-size: 19px;
    line-height: 23px;
    max-width: 275px;
    height: 48px;
  }

  .header__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
  }

  .hero__wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__text {
    margin: 0 0 20px 0;
  }

  .text-hero {
    max-width: 300px;
    letter-spacing: -1px;
  }

  .text-hero__title {
    font-size: 39px;
    line-height: 100%;
  }

  .text-hero__label {
    font-size: 23px;
    line-height: 100%;
    margin-bottom: 14px;
  }

  .text-hero__subtitle {
    font-size: 32px;
    line-height: 84.5%;
  }

  .text-hero__subtitle span {
    padding-left: 20px;
  }

  .footer {
    display: block;
  }
}

@media (max-width: 600px) {
  .hero__image {
    min-width: 1210px;
    left: -130%;
    top: -30%;
  }

  .hero__image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 520px) {
  .header__socials {
    display: none;
  }
}

@media (max-width: 360px) {
  .hero__image {
    left: -145%;
    top: -40%;
  }
}

@media (max-width: 340px) {
  .hero__image {
    min-width: 1000px;
    left: -150%;
    top: -52%;
  }
}

@media (min-height: 1366px) {
  .hero__image {
    min-width: 1200px;
    left: -30%;
  }
}

@media (min-height: 1440px) {
  .hero__image {
    min-width: 1700px;
    left: 0;
  }

  .hero__image img {
    width: 100%;
    height: 100%;
  }
}